<app-auth-layout>
  <div class="password-reset-container">
    <div *ngIf="!accountLocked" class="header">
      <twc-link [routerLink]="'/auth/login'">
        <img src="./assets/icons/back-arrow.svg" />
        <span>Back</span>
      </twc-link>
    </div>
    <div class="password-reset-content">
      <div *ngIf="!accountLocked; else lockedTemplate" class="message">
        <img src="./assets/icons/question-warning.svg" />
        <div class="title">Trouble Accessing Your Account?</div>
        <div class="instruction">
          Enter the email address you use for ThinkWhy and we’ll send you a
          password reset link.
        </div>
      </div>
      <ng-template #lockedTemplate>
        <div class="message locked-message">
          <img src="./assets/icons/lock.svg" />
          <div class="title">Account Locked</div>
          <div class="instruction">
            Your account has been locked after 5 failed sign-in attempts. Enter
            your email address to receive a link to reset your password.
          </div>
        </div>
      </ng-template>
      <form
        nz-form
        [formGroup]="validateForm"
        class="password-reset-form"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-label nzFor="username">Email</nz-form-label>
          <nz-form-control [nzErrorTip]="incorrectEmail">
            <input nz-input formControlName="username" id="username" required />
            <ng-template #incorrectEmail>
              <div class="error-msg">
                <img src="./assets/icons/error-icon.png" />
                <div>Enter email address</div>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="form-submit-button-container">
          <nz-form-control>
            <twc-button
              id="reset"
              [nzType]="'primary'"
              nzPlacement="right"
              [disabled]="!validateForm.valid"
            >
              Send Me A Reset Link
            </twc-button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div *ngIf="accountLocked" class="help-message">
        Need help? <a>Visit our Help Center</a>
      </div>
    </div>
  </div>
</app-auth-layout>
