<app-auth-layout>
  <div class="title">Change Password</div>
  <div class="container">

    <form
      nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <ng-container *ngIf="!isPasswordChangeChallenge">
        <nz-form-item>
          <nz-form-label nzFor="oldPassword">Current Password</nz-form-label>
          <nz-form-control nzErrorTip="This field is required">
            <input
              formControlName="oldPassword"
              nz-input
              [type]="passwordType"
              id="oldPassword"
              required
              placeholder=""
            />
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <nz-form-item class="password-item white-tooltip">
        <nz-form-label nzFor="password">New Password</nz-form-label>
        <nz-form-control>
          <input
            formControlName="password"
            nz-input
            [type]="passwordType"
            id="password"
            required
            nz-tooltip
            [nzTrigger]="'focus'"
            [nzTitle]="validatorTemplate"
            [nzOverlayStyle]="{ backgroundColor: 'white' }"
            (change)="passwordOnChange($event)"
          />
          <ng-template #validatorTemplate>
            <div class="password-validator white-tooltip">
              <p>
                <img [src]="checkOnPasswordError('digits')"/>
                At least 1 number
              </p>
              <p>
                <img [src]="checkOnPasswordError('special')"/>
                At least 1 special character
              </p>
              <p>
                <img [src]="checkOnPasswordError('upper')"/>
                At least 1 uppercase character
              </p>
              <p>
                <img [src]="checkOnPasswordError('lower')"/>
                At least 1 lowercase character
              </p>
              <p>
                <img [src]="checkOnPasswordError('length')"/>
                At least 8 characters
              </p>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="confirmedPassword">Confirm Password</nz-form-label>
        <nz-form-control>
          <input
            formControlName="confirmedPassword"
            nz-input
            [type]="passwordType"
            [nzTitle]="confirmPasswordValidatorTemplate"
            nz-tooltip
            id="confirmedPassword"
            required
            placeholder=""
          />
          <ng-template #confirmPasswordValidatorTemplate>
            <div class="password-validator white-tooltip">
              <p>
                <img
                  [src]="
                    isPasswordMatched()
                      ? './assets/icons/check.png'
                      : './assets/icons/close.png'
                  "
                />
                Password confirmed
              </p>
            </div>
          </ng-template>
        </nz-form-control>

      </nz-form-item>
      <nz-form-item class="control-button">
        <nz-form-control>
          <twc-button
            [nzType]="'primary'"
            id="create-account"
            [disabled]="!validateForm.valid"
          >
            Save
          </twc-button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</app-auth-layout>
